/* 
    <a href="https://www.flaticon.com/free-icons/breed" title="breed icons">Breed icons created by Maxim Kulikov - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/university" title="university icons">University icons created by orvipixel - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/skill" title="skill icons">Skill icons created by Nualnoi Kinkaeo - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/skill" title="skill icons">Skill icons created by Nualnoi Kinkaeo - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/coder" title="coder icons">Coder icons created by HAJICON - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/multimedia" title="multimedia icons">Multimedia icons created by Uniconlabs - Flaticon</a>
   */
* {
  margin: 0;
  padding: 0;
  font-family: "Baskervville", serif;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2%;
  background: #3F2E3E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: #EFE1D1;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar a {
  font-size: 1.2rem;
  color: #EFE1D1;
  text-decoration: none;
  text-transform: uppercase;
}

.header-div {
  display: grid;
  gap: 20px;
  grid-template-columns: 0.2fr 1fr;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2.5rem;
  color: #EFE1D1;
  cursor: pointer;
}

/*Home*/
.Main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
  background: linear-gradient(180deg, #3F2E3E 3%, #E3A5C7 100%);
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  color: #3F2E3E;
}

.text_container h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

span {
  font-weight: normal;
  font-family: "Rubik Vinyl", serif;
}

.text_container p {
  font-size: 1.5rem;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.image_container img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

/* Skills */
.skill-container {
  padding: 30px;
  background-color: #3F2E3E;
  color: #FFDFD6;
  min-height: 100vh;
}

.skills h1 {
  font-size: 4rem;
  font-family: "Rubik Vinyl", serif;
  text-align: center;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  background: #FFDFD6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #3F2E3E;
}

.grid-item>img {
  width: 200px;
  margin-bottom: 20px;
}

.grid-item .text {
  text-align: left;
}

.text p {
  font-size: 1.2rem;
  ;
}

.text img {
  width: 40px;
  height: 40px;
}

.grid-item h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.grid-item h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem 0;
}

.grid-item ul {
  padding: 10px;
}

.grid-item ul li {
  font-size: 1rem;
  margin-bottom: 5px;
}

.text>div {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  justify-content: center;
  ;
  gap: 5px;
}

/* Projects */
.container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: #FFDFD6;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 200px;
  border-radius: 10px;
}

.item.reverse {
  flex-direction: row-reverse;
}

.item .text {
  flex: 1;
}

.item .text h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #3F2E3E;
}

.item .text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #3F2E3E;
}

.item .text h3 {
  font-size: 1.2rem;
  color: #3F2E3E;
}

.item .text a {
  color: #3F2E3E;
  text-decoration: none;
  font-weight: bold;
}

/*Contact me*/
.contact-content {
  display: grid;
  margin-top: 10px;
  margin-right: 10px;
  grid-template-columns: 0.14fr 1fr;
}
.contact{
  padding-top: 30px;
}
.contact-content img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.contact-content a,
p {
  font-size: 1.5rem;
  text-decoration: none;
  color: #3F2E3E;
}

@media (max-width: 768px) {
  .menu-icon {
    display: inline-flex;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: #3F2E3E;
    flex-direction: column;
    display: none;
    padding: 1rem 0;
  }

  .menu-toggle:checked~.navbar {
    display: flex;
  }

  .navbar a {
    display: inline-block;
    font-size: 1.3rem;
    margin: 1rem 0;
    text-align: center;
  }

  .Main_container {
    grid-template-columns: 1fr;
    background: linear-gradient(180deg, #E3A5C7 60%, #3F2E3E 105%);
    margin-top: 80px;
  }

  .text-container {
    margin-top: 4rem;
  }

  .skills h1 {
    font-size: 3rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .grid-item>img {
    width: 150px;
  }

  .text p {
    font-size: 1rem;
  }

  .grid-item h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .grid-item h3 {
    font-size: 1.2rem;
  }

  .text img {
    width: 30px;
    height: 30px;
  }

  .item {
    flex-direction: column;
    text-align: left;
    padding: 20px;
  }

  .container {
    padding: 2px;
  }

  .item img {
    width: 200px;
  }

  .item .text {
    width: 100%;
  }

  .item.reverse {
    flex-direction: column;
  }
  .contact{
    padding-top:10px;
  }
}
